main { text-align: center; }

.container
{
	width: 18%;
	padding: 60px;
	display: inline-table;
}
.container img { display: block; width: 100%; }

p
{
	font-family: Helvetical, Arial, sans-serif;
	font-size: 18px;
}

h4
{
	font-size: 24px;
	
}
#coconut:hover
{
	transition-duration: 1s;
    transform: translate(0px, 400px);
}

